<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Page Pulse</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <header>

        <h1 class="logo-title">
        <img src="{{ url_for('static', filename='images/page-pulse-logo.png') }}" alt="Page Pulse Logo">
        <span>Page Pulse</span>
        </h1>

        <p>
            Analyze any webpage in seconds
        </p>

    </header>


    <section class="input-section">

        <input
            type="text"
            id="urlInput"
            placeholder="https://example.com">

        <button id="analyzeBtn">

            Analyze

        </button>

    </section>


    <section class="result-grid">

        <div class="card">

            <h3>Status</h3>

            <p id="status">--</p>

        </div>

        <div class="card">

            <h3>Response Time</h3>

            <p id="time">--</p>

        </div>

        <div class="card">

            <h3>H1 Count</h3>

            <p id="h1">--</p>

        </div>

        <div class="card">

            <h3>Word Count</h3>

            <p id="words">--</p>

        </div>

        <div class="card">

            <h2>Images Missing Alt</h2>

            <p id="missingAlt">--</p>

        </div>

    </section>


    <section class="details">

        <div class="detail-card">

            <h3>Page Title</h3>

            <p id="title">

                Waiting for analysis...

            </p>

        </div>


        <div class="detail-card">

            <h3>Meta Description</h3>

            <p id="description">

                Waiting for analysis...

            </p>

        </div>

    </section>


    <footer class="footer">
        <p>
            Built for
            <a href="https://digitalheroesco.com" target="_blank" rel="noopener noreferrer">
                Digital Heroes Training Task
            </a>
        </p>
    </footer>

</div>

<script src="{{ url_for('static',
filename='script.js') }}"></script>

</body>

</html>